
<ion-menu [content]="content" class="sidenav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="page-nav">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <ion-list class="authed-page-nav" *ngIf="loggedIn">
        <button menuClose ion-item *ngFor="let ap of AuthedPages" (click)="openPage(ap)">
          {{ap.title}}
        </button>
      </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>