page-agents-property-upload {

}

.ion-page .content ion-list.list {
    margin: 0 0 45px;
    ion-item.exisiting-property-search.item-block.item-input {
        margin: 0 auto;
        width: 100%;
        padding: 0;
        border: none;
        background: #eee;
        border-radius: 15px;
        padding: 0 20px;
        .item-inner {
            border: none;
        }
    }

    & > h4 {
        margin: 25px 0 0 0;
        text-transform: capitalize;
        color: #777;
    }

    & > .item-block:last-child {
        border-bottom: none;
        .item-inner {
            border-bottom: 0.55px solid #c8c7cc;
        }
    }

    & ion-list-header.item.list-header {
        padding: 0;
        margin: 15px 0 15px 0;
    }

    & ion-item.item {
        padding: 0 0 0 5px;
    }
}

